{% comment %}
  Renders pagination links.
  Usage: {% render 'pagination', paginate: paginate %}
{% endcomment %}

{%- if paginate.pages > 1 -%}
  <nav class="pagination" aria-label="{{ 'general.pagination.label' | t }}">
    <ul role="list">
      {%- if paginate.previous -%}
        <li>
          <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
            &larr; {{ 'general.pagination.previous' | t }}
          </a>
        </li>
      {%- endif -%}

      {%- for part in paginate.parts -%}
        <li>
          {%- if part.is_link -%}
            <a href="{{ part.url }}">{{ part.title }}</a>
          {%- elsif part.title == paginate.current_page -%}
            <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
          {%- else -%}
            <span>{{ part.title }}</span>
          {%- endif -%}
        </li>
      {%- endfor -%}

      {%- if paginate.next -%}
        <li>
          <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
            {{ 'general.pagination.next' | t }} &rarr;
          </a>
        </li>
      {%- endif -%}
    </ul>
  </nav>
{%- endif -%}
