<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ shop.name }}</title>
    {{ content_for_header }}
    {{- 'vite-theme.css' | asset_url | stylesheet_tag -}}
  </head>
  <body class="template-password">
    {{ content_for_layout }}
    <script src="{{ 'vite-theme.js' | asset_url }}" defer></script>
  </body>
</html>
